<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
    <link href={{ url_for('static',filename='style.css') }} rel="stylesheet">
  </head>
  <body>
    <div class = "draw">
      <canvas id="paint" style="border: 5px solid #000000;"></canvas>
      <div class="top-nav">
        <button id="undo-btn">Undo</button>
        <button id="clear-btn">Clear</button>
        <input type="color" id="color-picker">
        <input type="range" id="brush-size" min="1" max="50" value="10">
      </div>
    </div>
    <div class="interaction">
      <h1>Hi, {{ username }}</h1>
      <h3 style='color: #ccc;font-size: 30px;'>No message yet in {{ room }}</h3>
      <div class="message_holder"></div>

      <form action="" method="POST">
        <input type="text" class="message" placeholder="Messages"/>
        <input type="submit"/>
      </form>
    </div>
    
  
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
         integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
         crossorigin="anonymous">
        </script>
    <script type="text/javascript">
      var room_no = "{{ room }}";
    </script>
    <script src = {{ url_for('static',filename='paint.js') }}></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      // var canvas = document.getElementById('paint');
      socket.on( 'connect', function() {
        socket.emit( 'join', {
          // username = '{{ username }}',
          message : 'I joined', 
          room : '{{ room }}',
          username: '{{ username }}'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'send_msg', {
            // username = '{{ username }}',
            message : user_input,
            room : '{{ room }}',
            username : '{{ username }}'
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      })
      socket.on( 'print_msg', function( msg ) {
        console.log( msg )
        $( 'h3' ).remove()
        $( 'div.message_holder' ).append( '<div>'+msg.username+ ':' +msg.message+'</div>' )
      })
    </script>
  </body>
  </html>